<a href="https://colab.research.google.com/github/OrJaku/others/blob/master/Fibo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def fib(i):
  if i < 0:
    return print("Incorrect")
  elif i == 1:
    return 0 
  elif i == 2:
    return 1 
  else: 
    return fib(i-1) + fib(i-2)

In [21]:
i = 0
memo = {}
while True:
  i += 1
  fib(i)
  if fib(i) % 2 == 0:
    memo[i] = fib(i)
    if fib(i) > 1000000:
      del memo[i]
      break
print("Values:", memo.values())
print("Sum:", sum(memo.values()))

Values: dict_values([0, 2, 8, 34, 144, 610, 2584, 10946, 46368, 196418, 832040])
Sum: 1089154